body {
	background-color: #EAEAEA;
}

.md-toolbar-tools img{
	height: 90%;
}

#blocoFormulario {
	margin-top: 64px;
	padding: 5%;
	margin: 5%;
	background-color: #FFFFFF;
}

#blocoFormulario h3 {
	font-size: 20px;
	color: rgba(0,0,0,.7);
	text-align: center;
	font-weight: normal;
}

#blocoFormulario .green {
	color: #62AA60;
	font-weight: bold;
}

#blocoFormulario .camposFormulario {
	color: rgba(0,0,0,.7);
	font-size: 17px;
}

#blocoFormulario .camposFormulario span {
	padding: 0px 0px 27px 0px;
}

#blocoFormulario .camposFormulario .listaPerguntas {
	margin-top: 20px;
}

#blocoFormulario .camposFormulario .listaPerguntas button {
	margin: 10px 10px 10px 0px;
}